/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html{
	height: 100%;
}

body {
  line-height: 1;
  overflow: hidden;
  height: 100%;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 48px;
  font-weight: bold; }

h2 {
  font-size: 34px;
  font-weight: bold; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  font-weight: bold; }

h5 {
  font-size: 14px;
  font-weight: bold; }

h6 {
  font-size: 12px;
  font-weight: bold; }


/* шапка сайта */
header{
	display: flex;
	flex-wrap: wrap;
	height: 70px;
	background-color: #2A63EF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


.menu_icon{
	margin: auto;
	margin-left: 30px;
	width: 29px;
	height: 29px;
	padding: 3.5px 0;
	background: #2A63EF;
	box-sizing: border-box;
	cursor: pointer;
}

.menu_icon span{
	width: 100%;
	height: 3px;
	display: block;
	background: #fff;
	margin-bottom: 6px;
	border-radius: 5px;
}

/* лого stepik */
.image_stepik{
	margin: auto;
	margin-left: 20px;
	height: 34px;
}


/* лого ютуба */
.image_youtube{
	margin: auto;
	margin-left: 10px;
	height: 30px;
}


/* Моя страничка */
#My_page{
	flex-shrink: 0;
	margin: auto;
	margin-left: 15px;
	text-decoration: none;
	font: 40px Arial, bold;
	color: #FFFFFF;
	cursor: default;
}


/* Ссылка каталог */
.Catalog{
	margin: auto;
	margin-left: 30px;
	text-decoration: none;
	color: #FFFFFF;
	font: 20px Arial, bold;
	cursor: default;
}


/* Ссылка Моё обучение */
.My_education{
	flex-shrink: 0;
	margin: auto;
	margin-left: 15px;
	text-decoration: none;
	color: #FFFFFF;
	font: 20px Arial, bold;
	cursor: pointer;
}


/* Ссылка на канал Хауди Хо */
.My_videos{
	flex-grow: 1;
	flex-shrink: 0;
	margin: auto;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	color: #FFFFFF;	
	font: 20px Arial, bold;
	cursor: pointer;
}

/* Смена цвета на жёлтый при наведении на ссылку */
.Catalog:hover{	
	color: #FBC62A;
}


.My_education:hover{	
	color: #FBC62A;
}


.My_videos:hover{	
	color: #FBC62A;
}


/* Поисковик */
#search{
	margin: auto;
	height: 24px;
	background-color: #FFF;
	color: #000;
	border: 3px solid #CCC;
	border-radius: 5px;
}


/* Значок профиля П Ж */
#profile{
	margin: auto;
	margin-left: 10px;
	margin-right: 50px;
	height: 34px;
}




.sidebar{
	position: fixed;
	top: 0;
	left: -300px;
	height: 100%;
	width: 300px;
	border-top: 1px solid #BBB;
	background-color: #2A63EF;
	margin-top: 70px;
	transition: 0.5s;
	box-sizing: border-box;
}

.sidebar.active{
	left: 0;
}

/* Меню сайдбара */
.menu{
	display: flex;
	flex-direction: column;
	padding-top: 10%;
}

.menu a{
	padding-top: 30px;
	padding-bottom: 0px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font: 20px Arial, bold;
	cursor: pointer;
}


.menu a:hover{
	color: #FBC62A;
}


.social-icon{
	display: flex;
	left: 0;
	margin: 0;
	bottom: 120px;
	padding: 0 20px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}


.social-icon a{
	flex-grow: 1;
	width: 20%;
	text-align: center;
	list-style: none;
	display: block;
	font-size: 30px;
	color: #fff;
	line-height: 52px;
	border-radius: 50%;
	transition: 0.5s;
}


.social-icon a:hover{
	background: #fc2827;
}

.footer{
	left: 0;
	margin: 0;
	bottom: 100px;
	padding: 0 20px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

.footer p{
	color: #fff;
	text-align: center;
}

.content{
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 70px;
	margin-left: 350px;	
	font-size: 30px;
    height: 95%;
	overflow-y: scroll;
}

.content.inactive{
	z-index: auto;
	overflow-y: scroll;
}

.block {
	height: 100%;
    background-color: #ebebeb;
    padding: 36px 42px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-right: 10%;
}

.block h1 {
	font-weight: bold;
    color: #3a3a3a;
}

.block .block__content {
	padding-top: 40px;
}

.full-text {
    font-size: 18px;
    color: #3a3a3a;
    line-height: 1.7em;
}

.full-text p {
    text-indent: 0;
    margin: 0 0 26px 0;
}

.full-text h1, .full-text h2, .full-text h3, .full-text h4, .full-text h5, .full-text h6 {
    margin: 52px 0 26px 0;
}

@media all and (max-width: 1250px){

	header{
		height: 100px;
	}


	#profile{
		margin-right: auto;
	}


	.sidebar{
		margin-top: 100px;
		height: calc(100% - 30px);
	}

	.content{
		margin-top: 100px;
		margin-left: 35%;
	}

	.block{
		margin-bottom: 75px;
	}

}



@media all and (max-width: 950px){

	.My_videos{
		flex-grow: 0;
		margin-left: auto;
	}

	.sidebar{
		position: absolute;
	}

	.content{
		margin-left: 0;
		z-index: auto;
	}

	.content.inactive{
		z-index: -1;
		overflow-y: hidden;
	}

	.block{
		margin-left: 20%;
	}
}

@media all and (max-width: 650px){

	header{
		height: 130px;
	}


	#profile{
		margin-right: auto;
	}


	.sidebar{
		margin-top: 130px;
		height: calc(100% - 60px);
	}

	.content{
		margin-top: 130px;
	}
	.block{
		margin-left: 10%;
	}
}


@media all and (max-height: 700px){
	.content{
		height: 92.5%;
	}
}


@media all and (max-height: 500px){
	.content{
		height: 90%;
	}
}
